.card{
    width: 200px;
    height: 300px;
    border: 2px solid cornflowerblue;
    padding: 0;
    margin: 1rem;
    display: flex;
    border-radius: 14px;
}
.imgcont{
    border-radius: 14px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: cornflowerblue;
}
.imgcont>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.imgcont>h3{
    text-transform: uppercase;
    background: cornflowerblue;
}
.priceTag{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background: cornflowerblue;
    position: absolute;
    bottom: 0;
}
